<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block styles %}
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap"
            rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet" />
      <link href="{{ url_for_static_asset('static', 'css/output.css') }}" rel="stylesheet" type="text/css" />

    {% endblock styles %}
    <title>
      {% block title %}
        - IBVIS
      {% endblock title %}
    </title>
  </head>

  <body>
    <div id="root" class="flex flex-col my-2">
      {% block content %}
      {% endblock content %}
    </div>
    {% block scripts %}
      <script type="text/javascript" src="{{url_for_static_asset('static', 'js/htmx.min.js' )}}">
      </script>
      <script type="text/javascript" src="{{url_for_static_asset('static', 'js/myscript.js')}}"></script>
    {% endblock scripts %}
  </body>

</html>
