<div class="flex flex-col justify-center items-center">
  {% if flag_status == True %}
    <h1 class="text-2xl font-text p-4 text-red-500">{{flag_name}}</h1>
  {% else %}
    <h1 class="text-2xl font-text p-4 text-slate-600">{{flag_name}}</h1>
  {% endif %}
</div>